# Server Configuration
PORT=3000
NODE_ENV=development

# Supabase
SUPABASE_URL=https://pxyibwnbhyjmsezcgpji.supabase.co
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4eWlid25iaHlqbXNlemNncGppIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODA4MjA0MCwiZXhwIjoyMDkzNjU4MDQwfQ.rYQjfRhjb8XO9SQw7Np2q6JwrJbQId-VgZqx1Jvd7FA

# JWT
JWT_SECRET=264121719a76e7ff9c3202fc30e97a88ba887f68533d9202d355d1128aa21a23d4cd9a1b87af12c16506a214f59f351690209eb84dceb3da7b74afcae9c5420a
JWT_EXPIRES_IN=7d

# CORS
CLIENT_URL=http://localhost:4200

# File Upload
MAX_FILE_SIZE=10485760
